.container{
    background-color:gray;
    border-radius: 25px;
    overflow: hidden;
    height:380px;
    width:250px;
    position: relative;
}
.display-container{
    height:20px;
    width:100px;
    margin:20px 30px;
}
.display-container input{
   height : 25px;
}
.calc-container{
   margin-left: 33px;
}

.calc-container button {
    height: 40px;
    width: 40px;
    border-radius: 25%;
}
button:hover{
    background-color: black;
    color: white;
}
input:hover{
    box-shadow: 5px 5px 0 0 rgba(136,136,136,0.75);
}